.DS_Store
client/.DS_Store
client/assets/.DS_Store
/node_modules
/package-lock.json
/package.json
/postcss.config.js
server/data/PRF/obory
server/data/PRF/studijni_plany
server/data/PRF/predmety
server/data/PRF/bloky_planu
server.js
