.DS_Store
client/.DS_Store
client/assets/.DS_Store
/node_modules
/package-lock.json
/package.json
/postcss.config.js
server/data/PRF/programs
server/data/PRF/study_plans
server/data/PRF/subjects
server/data/PRF/subject_preferences
server/data/PRF/study_plan_description
server/data/PRF/program_preferences.json
server/data/PRF/users.json
server/data/PRF/PRF_studijni_programy.json
server.js
